/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.card-elevation {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
}
.padding20px {
  padding: 20px;
}

$sizesEM: 1em, 2em, 3em;

@each $size in $sizesEM {
  .separacion-top-#{$size} {
padding-top: $size;
  }
}

@each $size in $sizesEM {
  .separacion-top-margin-#{$size} {
    margin-top: $size;
  }
}
