
<form *ngIf="formularioUsuario" [formGroup]="formularioUsuario" class="example-form">
  <div class="modal-body">
    <form action="">

    </form>
    <div class="form-group has-success">
      <label class="form-control-label" for="inputValid">Nombre</label>
      <input
        formControlName="name"
        [ngClass]="{
             'is-valid': mensajesErrorUsuario.length === 0 && formularioUsuario?.get('name')?.value,
             'is-invalid': mensajesErrorUsuario.length > 0
             }"
        type="text" placeholder="Nombre" class="form-control" id="inputValid">
      <div *ngIf="mensajesErrorUsuario.length > 0">
        <div *ngFor="let mensaje of mensajesErrorUsuario">
          <ngb-alert [dismissible]="false">
            <strong>Cuidado!</strong> {{mensaje}}.
          </ngb-alert>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">

  </div>
</form>
